<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
    
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% apply spaceless %}
            {# add global stylesheets and scripts outside of any blocsk to add them to the helpers before any others assets are added #}
            {# we use the view helper to have cache buster functionality #}
            {% do pimcore_head_link().appendStylesheet('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,500,600,700&display=swap') %}
            {% do pimcore_head_link().appendStylesheet('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css',null,null,{integrity:"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",crossorigin:"anonymous"}) %}
            {# {% do pimcore_head_link().appendStylesheet('https://use.fontawesome.com/releases/v5.9.0/css/all.css') %} #}
            {# {% do pimcore_head_link().appendStylesheet('https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css') %} #}
            {% do pimcore_head_link().appendStylesheet(asset('static/lib/magnific/magnific.css'), 'screen') %}
            {% do pimcore_head_link().appendStylesheet(asset('static/lib/autocompletejs/css/autoComplete.css'), 'screen') %}
            {# {% do pimcore_head_link().appendStylesheet('https://use.fontawesome.com/releases/v5.7.0/css/all.css',null,null,{integrity:'sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ',crossorigin:'anonymous'}) %} #}
            {% do pimcore_head_link().appendStylesheet(asset('static/css/arqonz_global.css'), 'screen') %}
            {% do pimcore_head_link().appendStylesheet(asset('static/css/arqonz_custom.css'), 'screen') %}
            {% if editmode %}
                {% do pimcore_head_link().appendStylesheet(asset('/static/css/editmode.css')) %}
            {% endif %}
            {% do pimcore_head_script().appendFile('https://code.jquery.com/jquery-3.6.3.slim.min.js',null,null,{ integrity:"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",crossorigin:"anonymous"}) %}
            {% do pimcore_head_script().appendFile('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js',null,null,{ integrity:"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1",crossorigin:"anonymous"}) %}
            {% do pimcore_head_script().appendFile('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js',null,null,{ integrity:"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM",crossorigin:"anonymous"}) %}
            {% do pimcore_head_script().appendFile(asset('static/lib/magnific/magnific.js')) %}
            {% do pimcore_head_script().appendFile(asset('static/lib/autocompletejs/js/autoComplete.min.js')) %}
            {% do pimcore_head_script().appendFile(asset('static/js/search-autocomplete.js')) %}
            {% do pimcore_head_script().appendFile(asset('static/js/main.js')) %}
            {% if not editmode %}
                    {% do pimcore_head_script().appendFile(asset('static/js/frontend.js')) %}
            {% endif %}

            {% if not document is defined or not document %}
                {% set document = pimcore_document(1) %}
            {% endif %}

            {% if document is instanceof('\\Pimcore\\Model\\Document\\Link') %}
                {# @var document \Pimcore\Model\Document\Link #}
                {% set document = document.getElement() %}
            {% endif %}

            {% if document is instanceof('\\Pimcore\\Model\\Document\\Page') %}
                {% if document.getTitle() is not empty %}
                    {% do pimcore_head_title().set(document.getTitle()) %}
                {% endif %}

                {% if document.getDescription() is not empty %}
                    {% do pimcore_head_meta().setDescription(document.getDescription()) %}
                {% endif %}

            {% endif %}

            {% set isPortal = ((isPortal is defined) and isPortal) %}
        {% endapply %}
           <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css"
        >
        <link rel="icon" href="/static/images/Arqonz-logo-icon.png" type="image/x-icon">

        {# we're using the deferred extension here to make sure this block is rendered after all helper calls #}
        <!-- {% block layout_head_meta deferred %}
            {{ pimcore_head_title() }}
            {{ pimcore_head_meta() }}

            {% if pimcore_placeholder('canonical').count() %}
                <link rel="canonical" href="{{ pimcore_placeholder('canonical') }}"/>
            {% endif %}

        {% endblock %} -->

        {% block head_stylesheets deferred %}
            {{ pimcore_head_link() }}
        {% endblock %}
        <link rel="stylesheet" href="/static/css/arqonz_custom.css">
        <link rel="stylesheet" href="/static/css/Arqonz_website_style.css">
        <link rel="stylesheet" href="/static/css/Arqonz-Latest-Global.css">
        <link rel="stylesheet" href="/static/css/dashboardMain.css">
        
        <script src="/js/Arqonz-website-global.js"></script>
        {% if document.getTitle() is not empty %}
            <title>{{ document.getTitle() }}</title>
            <meta property="og:title" content="{{ document.getTitle() }}" />
        {% else %}
        <title>Arqonz - Construction Ecosystem</title>
        <meta property="og:title" content="Arqonz - Construction Ecosystem" />
        {% endif %}

        {% if document.getDescription() is not empty %}
        <meta property="og:description" content="{{document.getDescription()}}"/>
        <meta name="description" content="{{document.getDescription()}}"/>
        {% endif %}

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-MT2BCP5VJE"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MT2BCP5VJE');
        </script>

    </head>
    <body id="main">
     
        {# get root node if there is no document defined (for pages which are routed directly through static route) #}
        {% if not document is defined or not document %}
            {% set document = pimcore_document(1) %}
        {% endif %}

        
        {% include 'layouts/Arqonz-latest-Topbar.html.twig' %}


        <main role="main">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissable">
                        <button type="button" class="Toastclose" data-dismiss="alert" aria-hidden="true" style="color: #000; background-color: #fff0; border: 0px;">×</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}


            {% if isPortal %}
                {{ block('content') }}
            {% else %}
                <div id="content" class="container">
                    <div class="row">
                        {% set leftNavShow = document.getProperty('left_nav_show') %}
                        {% set showBreadcrumbs = (hideBreadcrumbs is defined) ? not hideBreadcrumbs : false %}
                        {% set mainColClass = leftNavShow ? 'col-md-9 pt-3 pt-md-5 order-last' : 'col-md-12' %}

                        <div class="{{ mainColClass }}">
                            {% if showBreadcrumbs %}
                                {% set mainNavStartNode = document.getProperty('navigation_root') %}
                                {% if mainNavStartNode is empty %}
                                    {% set mainNavStartNode = pimcore_document(1) %}
                                {% endif %}

                                {% set breadbrumbs = pimcore_build_nav({
                                    active: document,
                                    root: mainNavStartNode
                                }) %}
                                {% do app_navigation_enrich_breadcrumbs(breadbrumbs) %}
                                {% do pimcore_nav_renderer('breadcrumbs').setMinDepth(null) %}

                                <div class="breadcrumb-header">
                                    <a href="/">{{ "Home"|trans }}</a> &gt;
                                    {{ pimcore_render_nav(breadbrumbs, 'breadcrumbs') }}
                                </div>
                            {% endif %}
                            {{ block('content') }}
                        </div>

                        {% if leftNavShow %}
                            <div class="col-md-3 pt-3 pt-md-5 order-first sidebar">
                                <div class="sticky">
                                    <div class="bs-sidebar hidden-print affix-top" role="complementary">
                                        {% set leftStartNode = document.getProperty('left_nav_start_node') %}
                                        {% if leftStartNode is empty %}
                                            {% set leftStartNode = mainNavStartNode %}
                                        {% endif %}

                                        {% set leftNav = pimcore_build_nav({
                                            active: document,
                                            root: leftStartNode
                                        }) %}

                                        <h5>{{ leftStartNode.getProperty('navigation_name') }}</h5>

                                        {{ pimcore_render_nav(leftNav, 'menu', 'renderMenu', {
                                            ulClass: 'nav bs-sidenav',
                                            expandSiblingNodesOfActiveBranch: true,
                                        }) }}
                                    </div>
                                    {{ pimcore_inc(document.getProperty('sidebar')) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top" data-toggle="tooltip" data-placement="left">
                <span class="fa fa-arrow-up"></span>
            </a>
        
        </main>

        {# include a document-snippet - in this case the footer document #}
        {# {{ pimcore_inc(document.getProperty('footer')) }} #}

        {# FOOTER CODE BELOW #}
        {% if editmode %}
            {% do pimcore_head_link().appendStylesheet(asset('static/css/editmode.css')) %}
            {{ pimcore_head_link() }}
        {% endif %}
        {#footer#}
        
        {% include 'layouts/arqonz_latest_footer.html.twig' %}


        {# FOOTER CODE ENDS HERE #}

        {# output scripts added before #}
        {% block headscripts deferred %}
            {{ pimcore_head_script() }}
        {% endblock %}


        {% block inlinescripts deferred %}
            {{ pimcore_inline_script() }}
        {% endblock %}
    </body>
</html>
